html {
    font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ebd141;
    
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #2c2b2b;
    text-shadow: 1px 1px 1px rgb(255, 194, 27);
}
      
p, a, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
  }